.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.aboutMe {
  min-height: 100%;
  background-image: url(https://wallpapercave.com/wp/wp5475487.jpg);
  text-decoration-color: white;
  background-repeat: no-repeat;
  background-size: ;
  border-radius: 20px;
  padding-bottom: 0;
}

/*.bg {
  background-image: url(https://img.freepik.com/free-vector/abstract-gray-white-geometric-hexagons-background_78474-287.jpg?w=740);
  
  background-size: cover;
}*/

.bg{
  
 background: url(https://img.freepik.com/free-vector/abstract-gray-white-geometric-hexagons-background_78474-287.jpg?w=740) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}